In [1]:
from faker import Faker
import psycopg2
import random

#acessar o banco
dbname = 'projeto2'
user = 'postgres'
password = 'senha123'
host = 'localhost'  # ou seu endereço de host

#conectar ao banco
conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host)
cur = conn.cursor()

# Consulta para listar todas as tabelas
list_tables_query = """
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public';
"""

# Execute a consulta SQL
cur.execute(list_tables_query)

# Recupere os resultados
tables = cur.fetchall()

# Imprima as tabelas
for table in tables:
    print(table[0])

quantidade_dados = 100
fake = Faker()

curso
disciplina
histesc
histdisc
professor_departamento
departamento
formados
matrizcurricular
aluno
tcc
professor

In [2]:
#popular a tabela curso
cursos = ["Engenharia Química", "Engenharia Civil", "Engenharia de Produção", "Engenharia Elétrica", "Engenharia de Automação e controle", "Engenharia Mecânica","Engenharia de Robôs", "Administração", "Ciência da Computação", "Ciência da Dados"]
for i in range(0, 10):
    id_curso = i + 1
    nome_curso = cursos[i]

    insert_query = """
    INSERT INTO curso(id_curso, nome_curso) VALUES(%s, %s);
    """
    cur.execute(insert_query, (id_curso, nome_curso))
    conn.commit()

In [3]:
#populando a tabela tcc
ra_list = list(range(1, 101))
random.shuffle(ra_list)
for i in range(1, 101):  # Comece a partir do ID 1 e vá até 100
    id_tcc = i
    ra = ra_list.pop()  # Retira um RA da lista aleatória
    insert_query = """
    INSERT INTO tcc(id_tcc, RA) VALUES(%s, %s);
    """
    cur.execute(insert_query, (id_tcc, ra))
    conn.commit()

In [4]:
#populando a tabela aluno


for i in range(quantidade_dados):
    nome_aluno = fake.name()

    # Consulta para obter o tamanho atual da lista
    get_count_query = """
    SELECT COUNT(*) FROM Aluno;
    """
    # Execute a consulta SQL para obter o tamanho atual da lista
    cur.execute(get_count_query)
    # Recupere o tamanho atual da lista
    tamanho_lista = cur.fetchone()[0]

    ra = tamanho_lista + 1
    ano_matricula = random.randint(1990, 2024)
    id_curso = random.randint(1, 10)
    codigo_disc = random.randint(1, 20)
    id_tcc = random.randint(1, 100)

    insert_query = """
    INSERT INTO Aluno(ra, nome_aluno, ano_matricula, id_curso, codigo_disc, id_tcc) VALUES(%s, %s, %s, %s, %s, %s);"""
    cur.execute(insert_query, (ra, nome_aluno, ano_matricula, id_curso, codigo_disc, id_tcc))
    conn.commit()

In [5]:
#populando disciplina
cods = list(range(1, 21))
random.shuffle(cods)
disciplinas = [
    "Matemática",
    "Física",
    "Química",
    "Álgebra Linear",
    "Cálculo Diferencial e Integral",
    "Geometria Analítica",
    "Estatística",
    "Probabilidade",
    "Mecânica",
    "Termodinâmica",
    "Eletricidade e Magnetismo",
    "Circuitos Elétricos",
    "Programação",
    "Introdução a Computação",
    "Algoritmos",
    "Lógica",
    "Óptica",
    "Biofísica",
    "Bioquímica",
    "Engenharia de Materiais"
]
anos_lista = []
for i in range(1, 21):
    codigo_disc = i
    nome_disc = disciplinas[i-1]
    ano_disc = random.randint(1990, 2024)

    semestre_disc = random.randint(1, 2)
    codigo_prof = cods.pop()
    id_curso = random.randint(1, 10)

    insert_query = """
        INSERT INTO Disciplina(codigo_disc, nome_disc, ano_disc, semestre_disc, codigo_prof, id_curso) VALUES(%s, %s, %s, %s, %s, %s);"""

    cur.execute(insert_query, (codigo_disc, nome_disc, ano_disc, semestre_disc, codigo_prof, id_curso))
    conn.commit()

In [6]:
#populando historico escolar
ra_list2 = list(range(1, 101))
random.shuffle(ra_list2)
for i in range (quantidade_dados):
    nota = round(random.uniform(0, 10), 2)
    semestre_cursado = random.randint(1, 2)
    ano_cursado = random.randint(1990, 2024)
    ra = ra_list2.pop()
    codigo_disc = random.randint(1, 20)
    insert_query = """
        INSERT INTO HistEsc(nota, semestre_cursado, ano_cursado, ra, codigo_disc) VALUES(%s, %s, %s, %s, %s);"""
    cur.execute(insert_query, (nota, semestre_cursado, ano_cursado, ra, codigo_disc))
    conn.commit()

In [7]:
#populando o historico de disciplina

for i in range(0, 20):
    ano_ministrado = random.randint(1990, 2024)
    semestre_ministrado = random.randint(1, 2)
    codigo_prof = random.randint(1, 20)
    codigo_disc = i+1
    insert_query = """
        INSERT INTO HistDisc(ano_ministrado, semestre_ministrado, codigo_prof, codigo_disc) VALUES(%s, %s, %s, %s);"""
    cur.execute(insert_query, (ano_ministrado, semestre_ministrado, codigo_prof, codigo_disc))
    conn.commit()

In [8]:
# populando matriz curricular
ids_matriz = list(range(1, 11))
random.shuffle(ids_matriz)

for i in range(0, 10):
    id_matriz = codigo_disc = ids_matriz.pop()
    semestre_aprovado = random.randint(1,2)
    ano_aprovado = random.randint(1994, 2024)
    id_curso = i+1
    insert_query = """
        INSERT INTO matrizcurricular(id_matriz, semestre_aprovado, ano_aprovado, id_curso, codigo_disc) VALUES(%s, %s, %s, %s, %s);"""
    cur.execute(insert_query, (id_matriz, semestre_aprovado, ano_aprovado, id_curso, codigo_disc))
    conn.commit()

In [9]:
#populando formados
lista_formados = list(range(1, 101))
random.shuffle(lista_formados)

for i in range(0, 50):
    ra = lista_formados[i]
    id_matriz = random.randint(1, 10)
    insert_query = """
        INSERT INTO formados(ra, id_matriz) VALUES(%s, %s);"""
    cur.execute(insert_query, (ra, id_matriz))
    conn.commit()

In [10]:
#populando departamentos
departamentos = ['Ciência da Computação', 'Engenharia', "Administração", "Matemática"]
cursoslista = list(range(1, 10))
random.shuffle(cursoslista)
for i in range(0, 4):
    nome_dep = departamentos[i]
    codigo_dep = i+1
    nome_prof = fake.name()
    codigo_disc = i+1
    id_curso = cursoslista.pop()
    insert_query = """
        INSERT INTO departamento(nome_dep, codigo_dep, nome_prof, codigo_disc, id_curso) VALUES(%s, %s, %s, %s, %s);"""

    cur.execute(insert_query, (nome_dep, codigo_dep, nome_prof, codigo_disc, id_curso))
    conn.commit()

In [11]:
#populando professor

for i in range(0, 20):
    codigo_prof = i+1
    nome_prof = fake.name()
    chefe_dep = random.choice([True, False])
    id_curso = random.randint(1, 20)
    id_tcc = random.randint(1, 100)

    insert_query = """
        INSERT INTO professor(codigo_prof, nome_prof, chefe_dep, id_curso, id_tcc) VALUES(%s, %s, %s, %s, %s);"""

    cur.execute(insert_query, (codigo_prof, nome_prof, chefe_dep, id_curso, id_tcc))
    conn.commit()

In [12]:
for i in range(0, 20):
    codigo_prof = i+1
    nome_dep = departamentos[random.randint(0,3)]

    insert_query = """
        INSERT INTO professor_departamento(codigo_prof, nome_dep) VALUES(%s, %s);"""

    cur.execute(insert_query, (codigo_prof, nome_dep))
    conn.commit()